.about_header {
	width: 100%;
    height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
}

.about_header__nav {
	display: flex;
	width: 400px;
	justify-content: space-between;
}

.about_header__logo,  
.about_header__contacts, 
.about_header__home {
	padding: 5px 10px;
	text-decoration: none;
	font-family: 'Montseratt', sans-serif;
	font-size: 20px;
	color: #ffffff;
	background-color: #0093ff;
	border-radius: 20px;
	transition: 1s;
}

.about_header__logo:hover, 
.about_header__contacts:hover, 
.about_header__home:hover {
	scale: 110%;
	transition: .6s;
}

.about_main {
	width: 100%;
	height: calc(100% - 80px);
	background-color: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.about_main__promo {
	font-family: 'Montseratt', sans-serif;
	font-size: 20px;
	width: 1000px;
	text-align: center;
	
}

.footer {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
}

.footer__content {
	display: flex;
	flex-direction: column;
	width: 400px;
	text-align: center;
	font-family: 'Montseratt', sans-serif;
	font-size: 16px;
}
