.contacts_header {
	width: 100%;
    height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
}

.contacts_header__nav {
	display: flex;
	width: 400px;
	justify-content: space-between;
}

.contacts_header__logo, 
.contacts_header__about, 
.contacts_header__home {
	padding: 5px 10px;
	text-decoration: none;
	font-family: 'Montseratt', sans-serif;
	font-size: 20px;
	color: #ffffff;
	background-color: #0093ff;
	border-radius: 20px;
	transition: 1s;
}

.contacts_header__logo:hover, 
.contacts_header__about:hover, 
.contacts_header__home:hover {
	scale: 110%;
	transition: .6s;
}

.contacts_main {
	width: 100%;
	height: calc(100% - 80px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.contacts_main__promo {
	height: 150px;
	background-color: #f7f7f7;
	display: flex;
	align-items: center;
	border-radius: 20px;
	padding: 5px 15px;
}

.contacts_contacts__list {
	display: flex;
	align-items: center;
	flex-direction: column;
	line-height: 1.5;
}

.contacts_number_link, 
.contacts_email_link, 
.contacts_address_link, 
.contacts_telegram_link, 
.contacts_vk_link {
	text-decoration: none;
	color: #000;
}

.contacts_contacts__number, 
.contacts_contacts__email, 
.contacts_contacts__street, 
.contacts_contacts__telegram, 
.contacts_contacts__vk {
	width: 400px;
	display: flex;
	justify-content: center;
	font-family: 'Montseratt', sans-serif;
	font-size: 18px;
}

/*
.contacts_address_link {
	text-decoration: none;
} */

.number__svg, .email__svg, .street__svg, .telegram__svg, .vkontakte__svg {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.footer {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
}

.footer__content {
	display: flex;
	flex-direction: column;
	width: 400px;
	text-align: center;
	font-family: 'Montseratt', sans-serif;
	font-size: 16px;
}

