.header {
	width: 100%;
    height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
}

.header__nav {
	display: flex;
	width: 400px;
	justify-content: space-between;
}

.header__logo, .header__about, .header__home {
	padding: 5px 10px;
	text-decoration: none;
	font-family: 'Montseratt', sans-serif;
	font-size: 20px;
	color: #ffffff;
	background-color: #0093ff;
	border-radius: 20px;
	transition: 1s;
}

.header__logo:hover, .header__about:hover, .header__home:hover {
	scale: 110%;
	transition: .6s;
}

.main {
	width: 100%;
	height: calc(100% - 80px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.main__promo {
	height: 150px;
	background-color: #f7f7f7;
	display: flex;
	align-items: center;
	border-radius: 20px;
	padding: 5px 15px;
}

.contacts__list {
	display: flex;
	align-items: center;
	flex-direction: column;
	line-height: 1.5;
}

.number, .email, .street, .telegram, .vk {
	text-decoration: none;
	color: #000;
}

.contacts__number, .contacts__email, .contacts__street, .contacts__telegram, .contacts__vk {
	width: 400px;
	display: flex;
	justify-content: center;
	font-family: 'Montseratt', sans-serif;
	font-size: 18px;
}

address {
	text-decoration: none;
}


.number__svg, .email__svg, .street__svg, .telegram__svg, .vkontakte__svg {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.footer {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
}

.footer__content {
	display: flex;
	flex-direction: column;
	width: 400px;
	text-align: center;
	font-family: 'Montseratt', sans-serif;
	font-size: 16px;
}