.layout_header {
	width: 150%;
    height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
}

.layout_header__nav {
	display: flex;
	width: 600px;
	justify-content: space-between;
}

.layout_header__logo, 
.layout_header__about, 
.layout_header__contacts,
.layout_header_signin {
	padding: 5px 10px;
	text-decoration: none;
	font-family: 'Montseratt', sans-serif;
	font-size: 20px;
	color: #ffffff;
	background-color: #0093ff;
	border-radius: 20px;
	transition: 1s;
}

.layout_header__logo:hover, 
.layout_header__about:hover, 
.layout_header__contacts:hover,
.layout_header_signin:hover {
	scale: 110%;
	transition: .6s;
}

.layout_main_wrapper {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.layout_main_grid {
	margin: 15px;
	border: 2px solid #000;
	border-radius: 25px;
}

.layout_info {
	display: flex;
	width: 300px;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	margin: 15px 0;
}

.layout_desc {
	width: 300px;
	text-align: center;
	padding: 15px;
}

.layout_preview_image {
	width: 300px;
	height: 250px;
}

.layout_section {
	display: flex;
	width: 150%;
	justify-content: space-between;
	
}

.footer {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
}

.footer__content {
	display: flex;
	flex-direction: column;
	width: 400px;
	text-align: center;
	font-family: 'Montseratt', sans-serif;
	font-size: 16px;
}
