.news_header {
    width: 100%;
    height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
}

.news_title {
    width: 200px;
    height: 80px;
    padding: 15px;
    font-family: 'Montseratt', sans-serif;
	font-size: 40px;
	color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #0093ff;
    border-radius: 25px;
}

.news_grid_news {
    display: flex;
    justify-content: center;
}

.news_sections {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.news_item {
    width: 295px;
    height: 200px;
}

.news_item_content {
    width: 295px;
    height: 160px;
    background-color: black;
    border-radius: 35px;
}

.news_item_content_image {
    width: 295px;
    height: 160px;
    border-radius: 35px;
}

.news_item_information {
    width: 295px;
    padding-left: 0px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montseratt', sans-serif;
	font-size: 15px;
	color: #000;
    margin-top: 10px;
}


