* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.layout_header {
  width: 150%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.layout_header__nav {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

.layout_header__logo,
.layout_header__about,
.layout_header__contacts,
.layout_header_signin,
.layout_header_news {
  padding: 5px 10px;
  text-decoration: none;
  font-family: "Montseratt", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #0093ff;
  border-radius: 20px;
  transition: 1s;
}

.layout_header__logo:hover,
.layout_header__about:hover,
.layout_header__contacts:hover,
.layout_header_signin:hover,
.layout_header_news:hover {
  scale: 110%;
  transition: 0.6s;
}

.layout_main_wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.layout_main_grid {
  margin: 15px;
  border: 2px solid #000;
  border-radius: 25px;
}

.layout_info {
  display: flex;
  width: 300px;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin: 15px 0;
}

.layout_desc {
  width: 300px;
  text-align: center;
  padding: 15px;
}

.layout_preview_image {
  width: 300px;
  height: 250px;
}

.layout_section {
  display: flex;
  width: 150%;
  justify-content: space-between;
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.footer__content {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  font-family: "Montseratt", sans-serif;
  font-size: 16px;
}

.shest1k_header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.shest1k_header__nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.shest1k_header__about,
.shest1k_header__contacts,
.shest1k_header__home {
  padding: 5px 10px;
  text-decoration: none;
  font-family: "Montseratt", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #0093ff;
  border-radius: 20px;
  transition: 1s;
}

.shest1k_header__about:hover,
.shest1k_header__contacts:hover,
.shest1k_header__home:hover {
  scale: 110%;
  transition: 0.6s;
}

.shest1k_main__image {
  width: 100%;
  height: calc(100vh - 80px);
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.footer__content {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  font-family: "Montseratt", sans-serif;
  font-size: 16px;
}

.about_header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.about_header__nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.about_header__logo,
.about_header__contacts,
.about_header__home {
  padding: 5px 10px;
  text-decoration: none;
  font-family: "Montseratt", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #0093ff;
  border-radius: 20px;
  transition: 1s;
}

.about_header__logo:hover,
.about_header__contacts:hover,
.about_header__home:hover {
  scale: 110%;
  transition: 0.6s;
}

.about_main {
  width: 100%;
  height: calc(100% - 80px);
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about_main__promo {
  font-family: "Montseratt", sans-serif;
  font-size: 20px;
  width: 1000px;
  text-align: center;
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.footer__content {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  font-family: "Montseratt", sans-serif;
  font-size: 16px;
}

.contacts_header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.contacts_header__nav {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.contacts_header__logo,
.contacts_header__about,
.contacts_header__home {
  padding: 5px 10px;
  text-decoration: none;
  font-family: "Montseratt", sans-serif;
  font-size: 20px;
  color: #ffffff;
  background-color: #0093ff;
  border-radius: 20px;
  transition: 1s;
}

.contacts_header__logo:hover,
.contacts_header__about:hover,
.contacts_header__home:hover {
  scale: 110%;
  transition: 0.6s;
}

.contacts_main {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts_main__promo {
  height: 150px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 5px 15px;
}

.contacts_contacts__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
}

.contacts_number_link,
.contacts_email_link,
.contacts_address_link,
.contacts_telegram_link,
.contacts_vk_link {
  text-decoration: none;
  color: #000;
}

.contacts_contacts__number,
.contacts_contacts__email,
.contacts_contacts__street,
.contacts_contacts__telegram,
.contacts_contacts__vk {
  width: 400px;
  display: flex;
  justify-content: center;
  font-family: "Montseratt", sans-serif;
  font-size: 18px;
}

/*
.contacts_address_link {
	text-decoration: none;
} */
.number__svg, .email__svg, .street__svg, .telegram__svg, .vkontakte__svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.footer__content {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  font-family: "Montseratt", sans-serif;
  font-size: 16px;
}

.signin_wrapper {
  width: 300px;
  height: 400px;
  background-color: #e0e0e0;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

.signin_form {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin_username,
.signin_email,
.signin_password {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Montseratt", sans-serif;
  font-size: 15px;
}

#signin_username,
#signin_email,
#signin_password {
  width: 200px;
  height: 25px;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  font-family: "Montseratt", sans-serif;
  font-size: 15px;
}

.signin_btn_submit {
  width: 150px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 35px;
  font-family: "Montseratt", sans-serif;
  font-size: 15px;
  margin-top: 15px;
  transition: 0.5s;
}

.signin_btn_submit:hover {
  background-color: #0a7adf;
  color: #fff;
  transition: 0.5s;
}

.signin_errors_alert {
  width: 400px;
  height: 90px;
  background-color: #0a7adf;
  color: #fff;
  line-height: 1.25;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montseratt", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.signin_errors_ul {
  height: inherit;
  width: inherit;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.signin_body_wrapper {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.news_header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.news_title {
  width: 200px;
  height: 80px;
  padding: 15px;
  font-family: "Montseratt", sans-serif;
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #0093ff;
  border-radius: 25px;
}

.news_grid_news {
  display: flex;
  justify-content: center;
}

.news_sections {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.news_item {
  width: 295px;
  height: 200px;
}

.news_item_content {
  width: 295px;
  height: 160px;
  background-color: black;
  border-radius: 35px;
}

.news_item_content_image {
  width: 295px;
  height: 160px;
  border-radius: 35px;
}

.news_item_information {
  width: 295px;
  padding-left: 0px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  font-family: "Montseratt", sans-serif;
  font-size: 15px;
  color: #000;
  margin-top: 10px;
}